<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>One Project a Week</title>
</head>
<body>
    <div class="header">
        <h1>One Project a Week</h1>
    </div>
    <div class="container">
        <a href="https://www.google.com" >
            <div class="project">
                <img class="thumbnail" src="https://images.squarespace-cdn.com/content/v1/5bfc8dbab40b9d7dd9054f41/1546930028062-GT3D69YP0P0PNKLOV1KL/flow-of-pi-cristian.png?format=1500w" alt="img of cool circle">
                <h2 class="name">Circle Simulation</h2>
                <p class="description">This is a very cool thing drawing circles or something like that.</p>
                <p class="date">02/13/2024</p>
            </div>
        </a>
        <a href="https://www.google.com" >
            <div class="project">
                <img class="thumbnail" src="https://images.squarespace-cdn.com/content/v1/5bfc8dbab40b9d7dd9054f41/1546930028062-GT3D69YP0P0PNKLOV1KL/flow-of-pi-cristian.png?format=1500w" alt="img of cool circle">
                <h2 class="name">Circle Simulation</h2>
                <p class="description">This is a very cool thing drawing circles or something like that.</p>
                <p class="date">02/13/2024</p>
            </div>
        </a>
        <a href="https://www.google.com" >
            <div class="project">
                <img class="thumbnail" src="https://images.squarespace-cdn.com/content/v1/5bfc8dbab40b9d7dd9054f41/1546930028062-GT3D69YP0P0PNKLOV1KL/flow-of-pi-cristian.png?format=1500w" alt="img of cool circle">
                <h2 class="name">Circle Simulation</h2>
                <p class="description">This is a very cool thing drawing circles or something like that.</p>
                <p class="date">02/13/2024</p>
            </div>
        </a>
    </div>
</body>
</html>