body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    height: 80px;
    background-color: hsl(0, 0%, 90%);
    border: 2px solid hsl(0, 0%, 70%);
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    margin: 20px;
    margin-top: 10px;
}

.filter-div {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 30px 0 0 20px;
}

#filter {
    padding: 0;
    border: none;
    background: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
    background-color: hsl(217, 87%, 55%);
}
#filter:hover {
    background-color: hsl(217, 87%, 60%);
}
#filter:active {
    background-color: hsl(217, 87%, 65%);
}

#filter-button {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.filter-tag {
    border: none;
    font-size: 1rem;
    background-color: hsl(0, 0%, 80%);
    border-radius: 20px;
    padding: 5px 8px;
    margin: 0 3px;
    cursor: pointer;
}
.filter-tag:hover {
    background-color: hsl(0, 0%, 85%);
}
.filter-tag:active {
    background-color: hsl(0, 0%, 90%);
}

.project {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    border-radius: 5px;
    transition: 150ms transform ease-in-out;
}

.project:hover {
    transform: scale(1.015);
}

.img-container {
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    max-height: 300px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.name {
    text-align: center;
    font-size: 2rem;
    margin: 16px 0 0 0;
}

.tags {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.tag {
    background-color: hsl(0, 0%, 80%);
    border-radius: 20px;
    padding: 5px 8px;
    margin: 0 3px;
}

.description {
    text-align: center;
    font-size: 20px;
    padding: 0 1rem;
    margin-top: -6px;
}

.date {
    text-align: center;
    color:hsl(0, 0%, 60%);
    margin-top: -12px;
    margin-bottom: 10px;
}